project_name           = "testinfra"
environment            = "dev"
environment_slug       = "dev"
aws_region             = "ap-southeast-3"
localstack_endpoint    = "http://localhost:4566"
tfc_organization       = ""
kind_kubeconfig_path   = "/Users/mac/Documents/coding/studycase/localstack-infra/.kube/kind-config"
kind_context           = "kind-testinfra-eks"
