project_name        = "testinfra"
environment         = "stg"
environment_slug    = "staging"
aws_region          = "ap-southeast-3"
localstack_endpoint = "http://localhost:4566"
tfc_organization    = "ExperimentTerraform"
